nav {
  display: flex;
  justify-content: center;
  background: grey;
}
nav ul {
  display: flex;
  gap: 2rem;
}

nav ul a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}

/* nav ul a:hover {
  color: red;
  background: white;
} */

nav ul a.active {
  color: red;
  background: white;
  font-weight: bold;
}

.app {
  display: flex;
  justify-content: center;
}

.buttonDiv {
  display: flex;
  justify-content: center;
}

.serchInput {
  margin: 2rem 5rem;
}

.nested-nav {
  display: flex;
  justify-content: center;
  background: none;
}

.nested-nav ul a {
  color: grey;
  text-decoration: none;
  padding: 10px 15px;
}
